html{
    scroll-behavior: smooth;
}

/*........ invisible scrolls on body........*/
body::-webkit-scrollbar {
    width: 0px;
     background: transparent; /* Chrome/Safari/Webkit */
}

body{
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
    font-family: 'Quicksand', sans-serif;
}
/*........ /invisible scrolls on body........*/


p{
    color: #686868;
    opacity: 75%;
}

.navbar-nav > li{
    padding-left:12px;
    padding-right:12px;
}

.stimuli-index-page h4{
    text-align: center;
    color: #808080;
    opacity: 0.8;
}

.stimuli-index-page hr{
    height: 3px;
    border-radius: 100px;
    color: #0000FF;
}

.stimuli-index-page h1{
    text-align: center;
    font-weight: 800;
    letter-spacing: 7px;
}

.stimuli-index-page p{
    text-align: left;
    font-weight: 800;
}

.input-button{
    color: #000000; 
    border-radius: 20px; 
    border: 2px solid #0000FF; 
    font-weight: bold;;
}

.input-button:hover{
    background-color: rgb(206, 194, 194);
    border-color: #0000FF;
}

#stimuli-things_we_have_made .carousel-control-prev-icon {
    width: 40px;
    height: 40px;
    background-image: url("../images/prev.png");
}
 
#stimuli-things_we_have_made .carousel-control-next-icon {
    width: 40px;
    height: 40px;
    background-image: url("../images/Next.png");
}

#stimuli-react_out input, textarea{
    box-shadow: 1px 1px 5px 1px #0000FF;
}


/* About us */

.stimuli-about_us-page hr{
    height: 3px;
    border-radius: 100px;
    color: #ffffff;
    opacity: 0.2;
    width: 35%;
    position: relative;
    left: 35%;
    display: inline-block;
}

.about_us-heading h1{
    letter-spacing: 5px;
}


/* Newsletter */
.home-newsLetter{
    background-color: #E3FCFC;
    color: #000000;
}

.home-newsLetter .form-control{
    height: 50px;
    background-color: transparent;
    border-radius: 20px 0 0 20px;
}

.home-newsLetter .btn{
    min-height: 50px;
    border-radius: 0 20px 20px 0;
    /* background-color: #46ffff; */
    color: #000000;
}
/* / Newsletter */


/* Footer */
.full-footer{
    background-color: #222222;
}

.top-footer p{
    color: white;
}

.top-footer a{
    color: white;
    font-weight: 500;
    text-decoration: none;
    margin: 5px 0 5px 0;
}

.top-footer a:hover{
    color: #e7e721e8;
    transition: ease-in-out 0.3s;
}

.top-footer h3{
    color: white;
}


.bottom-footer p{
    color: white;
}

/* Footer */

